.about-us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: url("../img/2005-desktop.png") no-repeat 105px 44px;
  padding: 40px 135px 109px 317px;

  h2 {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: normal;
    font-size: 36px;
    line-height: 51px;
    color: $light-grey;
    margin: 0;
  }

  p {
    margin: 19px 0 2px;
  }
}

.about-us__to-all {
  width: 180px;
  margin-top: 37px;
}

@media (max-width: $tablet) {
  .about-us {
    background-image: url("../img/2005-tablet.png");
    background-position: 0 10px;
    padding: 8px 16px 83px 209px;

    h2 {
      font-size: 32px;
    }

    p {
      padding-left: 5px;
      margin: 21px 0 0;
    }
  }

  .about-us__to-all {
    margin-top: 40px;
    margin-left: 3px;
  }
}

@media (max-width: $mobile) {
  .about-us {
    background: none;
    padding: 17px 14px 64px;

    h2 {
      font-size: 28px;
      line-height: 42px;
      margin: 0;
    }

    p {
      line-height: 22px;
      padding-left: 3px;
      margin: 21px 0 17px;
    }
  }

  .about-us__to-all {
    margin-top: 12px;
    margin-left: 3px;
  }
}
