.contacts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts__item {
  margin: 3px 0;
}

.contacts__text {
  font-size: 15px;
  color: $translucent-gray;
  text-decoration: none;
  margin: 0;
  transition: all 0.3s ease-out;

  &:hover {
    color: $light-grey;
  }
}

@media (max-width: $mobile) {
  .contacts {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-out;

    &--active {
      max-height: fit-content;
      overflow: visible;
      padding: 11px 0 22px;
    }
  }

  .contacts__item {
    margin: 0;
  }

  .contacts__text {
    line-height: 25px;
  }
}
