.footer-bottom {
  padding: 0 16px 0 12px;
}

@media (max-width: $tablet) {
  .footer-bottom {
    padding: 8px 25px 8px 27px;
  }
}

@media (max-width: $mobile) {
  .footer-bottom {
    padding: 15px 25px 8px 27px;
  }
}
