.footer-top {
  border-bottom: 1px solid $light-grey;
}

.footer-top__container {
  display: flex;
  flex-wrap: wrap;
  padding: 66px 0 58px 13px;
}

.footer-top-social {
  width: 286px;
  display: flex;
  flex-direction: column;
}

.social {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 48px 0 0;
  padding: 0;
}

.social__item {
  margin-right: 15px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;

  svg {
    fill: #cdcdcd;
  }
}

.social__link:hover svg {
  fill: $blue;
}

.social__link:active {
  opacity: 0.3;
}

.footer-top-navigation {
  width: 790px;
  padding: 0 142px 0 135px;
}

.footer-top-navigation__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0 0 24px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__item {
  width: 60%;

  &:nth-child(2n) {
    width: 40%;
  }
}

.navigation__link {
  font-size: 15px;
  line-height: 25px;
  color: $light-grey;
  text-decoration: none;
}

.footer-top-contacts {
  width: 335px;
  padding: 0 0 0 2px;
}

.contacts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-top-contacts__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0 0 26px;
}

.contacts__item {
  margin: 3px 0;
}

.contacts__text {
  font-size: 15px;
  margin: 0;
}

.footer-top-navigation__button,
.footer-top-contacts__btn {
  display: none;
}

.footer-bottom {
  padding: 0 16px 0 12px;
}

.copyright {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.copyright__item {
  &--years {
    margin-left: 73px;
  }

  &--terms {
    margin-left: 142px;
  }

  &--dev {
    margin-left: auto;
  }
}

.copyright__text {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

@media (max-width: $tablet) {
  .footer {
    position: relative;
  }

  .footer-top__container {
    padding: 0;
  }

  .footer-top-social {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $light-grey;
    padding: 19px 7px 19px 25px;
  }

  .social {
    margin: 0;
  }

  .footer-top-navigation {
    width: 50%;
    padding: 38px 27px;
  }

  .navigation {
    flex-direction: column;
  }

  .navigation__item {
    width: 100%;

    &--accessories {
      order: 2;
    }

    &--delivery {
      order: 2;
    }

    &--contacts {
      order: 2;
    }
  }

  .footer-top-contacts {
    width: 50%;
    padding: 38px 17px;
  }

  .footer-bottom {
    padding: 8px 25px 8px 27px;
  }

  .copyright {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .copyright__item {
    &--years {
      position: absolute;
      top: 23px;
      left: 50%;
      margin-left: -57px;
    }

    &--terms {
      margin-left: 0;
    }

    &--rights {
      display: none;
    }
  }
}

@media (max-width: $mobile) {
  .footer-top__container {
    flex-direction: column;
  }

  .footer-top-social {
    flex-direction: column;
    align-items: center;
    padding: 47px 0 53px;
  }

  .social {
    margin-top: 75px;
  }

  .footer-top-navigation,
  .footer-top-contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 29px 19px 4px 14px;
  }

  .footer-top-navigation__button,
  .footer-top-contacts__btn {
    position: relative;
    width: 16px;
    height: 16px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: #c4c4c4;
      transition: transform 0.3s ease-out;
    }

    &::before {
      top: 0;
      left: 50%;
      width: 1px;
      height: 100%;
      margin-left: -0.5px;
    }

    &::after {
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      margin-top: -0.5px;
    }

    &.pressed {
      &::before {
        transform: rotate(90deg);
      }

      &::after {
        transform: rotate(180deg);
      }
    }
  }

  .navigation,
  .contacts {
    visibility: hidden;
    max-height: 0;
    transition: max-height 0.5s linear, padding 0.5s linear;
  }

  .footer-top-navigation.active .navigation,
  .footer-top-contacts.active .contacts {
    max-height: fit-content;
    overflow: auto;
    padding: 8px 0 21px;
    visibility: visible;
  }

  .copyright {
    flex-direction: column;
    align-items: center;
  }

  .copyright__item {
    &--years {
      top: 112px;
      left: 50%;
      margin-left: -117px;
    }

    &--dev {
      margin-left: 0;
    }
  }
}
