.footer-top {
  border-bottom: 1px solid $line-color;
}

.footer-top__container {
  display: flex;
  flex-wrap: wrap;
  padding: 66px 0 56px 13px;
  justify-content: space-between;
}

.footer-top-social {
  width: 19%;
  display: flex;
  flex-direction: column;
}

.footer-top-navigation {
  width: 35.6%;
  min-width: 375px;
}

.footer-top-navigation__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  font-weight: normal;
  text-transform: uppercase;
  border: none;
  background: none;
  color: $dark-grey;
  margin: 0 0 24px;
  padding: 0;
}

.footer-top-contacts {
  width: 350px;
  padding: 0 0 0 2px;
}

.footer-top-contacts__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  font-weight: normal;
  text-transform: uppercase;
  color: $dark-grey;
  border: none;
  background: none;
  margin: 0 0 19px;
  padding: 0;
}

@media (max-width: $tablet) {
  .footer {
    position: relative;
  }

  .footer-top__container {
    padding: 0;
  }

  .footer-top-social {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $line-color;
    padding: 19px 7px 19px 25px;
  }

  .footer-top-navigation {
    width: 50%;
    padding: 36px 27px 35px;
  }

  .footer-top-contacts {
    width: 50%;
    padding: 36px 17px 35px;
  }
}

@media (max-width: $mobile) {
  .footer-top__container {
    flex-direction: column;
  }

  .footer-top-social {
    flex-direction: column;
    align-items: center;
    padding: 47px 0 53px;
  }

  .footer-top-navigation {
    min-width: auto;
    border-bottom: 1px solid $line-color;
  }

  .footer-top-navigation,
  .footer-top-contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 29px 19px 4px 14px;
  }

  .footer-top-navigation__title,
  .footer-top-contacts__title {
    display: block;
    position: relative;
    width: 100%;
    text-align: left;
    padding: 0;
    transition: color 0.3s ease-out;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: #c4c4c4;
      transition: transform 0.3s ease-out, background-color 0.3s ease-out;
    }

    &::before {
      top: 0;
      right: 8px;
      width: 1px;
      height: 16px;
      margin-left: -0.5px;
    }

    &::after {
      top: 8px;
      right: 0;
      width: 16px;
      height: 1px;
      margin-top: -0.5px;
    }

    &.pressed {
      &::before {
        transform: rotate(90deg);
      }

      &::after {
        transform: rotate(180deg);
      }
    }

    &:hover {
      color: $translucent-gray;

      &::before,
      &::after {
        background-color: $light-grey;
      }
    }
  }

  .footer--no-js .navigation,
  .footer--no-js .contacts {
    padding: 8px 0 21px;
    display: block;
  }

  .footer--no-js {
    .footer-top-navigation__title,
    .footer-top-contacts__title {
      &::before,
      &::after {
        display: none;
      }
    }
  }
}
