.goods {
  background-color: $dark-grey;
}

.goods__container {
  padding: 88px 135px 127px;

  h2 {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: normal;
    font-size: 36px;
    line-height: 51px;
    color: $white;
    margin: 0;
  }
}

.goods__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 52px 0 0;
  padding: 0;
}

.goods__item {
  position: relative;
  width: 31.6%;
  min-height: 620px;
  padding: 50px 137px 50px 44px;
  margin-right: 2.6%;
  background: no-repeat center;
  background-size: cover;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &--1 {
    background-image: url("../img/goods-item1-desktop.png");
  }

  &--2 {
    background-image: url("../img/goods-item2-desktop.png");
  }

  &--3 {
    background-image: url("../img/goods-item3-desktop.png");
  }

  p {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: $white;
    opacity: 1;
    margin: 0;
  }
}

.goods__btn {
  position: absolute;
  display: flex;
  width: 63px;
  height: 63px;
  right: 0;
  bottom: 0;
  background-image: url("../../img/right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: $blue;
  border: none;
  color: $white;
  opacity: 1;
  cursor: pointer;
  transition: all 0.3s ease-out;

  &:hover {
    background-color: rgba(0, 178, 255, 0.3);
  }

  &:active {
    background-color: rgba(0, 178, 255, 0.6);
  }
}

@media (max-width: $tablet) {
  .goods__container {
    padding: 48px 25px 32px;

    h2 {
      font-size: 32px;
      line-height: 46px;
    }
  }

  .goods__list {
    flex-direction: column;
    margin: 49px 0 0;
  }

  .goods__item {
    width: 100%;
    min-height: 256px;
    padding: 40px 502px 43px 43px;
    margin-right: 0;
    margin-bottom: 46px;

    &--1 {
      background-image: url("../img/goods-item1-tablet.png");
    }

    &--2 {
      background-image: url("../img/goods-item2-tablet.png");
    }

    &--3 {
      background-image: url("../img/goods-item3-tablet.png");
    }
  }
}

@media (max-width: $mobile) {
  .goods__container {
    padding: 48px 14px 34px;

    h2 {
      font-size: 28px;
      line-height: 40px;
      padding-left: 10px;
    }
  }


  .goods__list {
    margin: 41px 0 0;
  }

  .goods__item {
    padding: 20px 90px 20px 36px;
    margin-bottom: 30px;

    &--1 {
      background-image: url("../img/goods-item1-mobile.png");
    }

    &--2 {
      background-image: url("../img/goods-item2-mobile.png");
    }

    &--3 {
      background-image: url("../img/goods-item3-mobile.png");
    }
  }
}
