.header {
  background-color: $dark-grey;
  padding: 0;
  margin-bottom: -127px;
}

.header__container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 34px 17px 34px 11px;

  &::before {
    content: "";
    position: absolute;
    width: 37px;
    height: 13px;
    left: 331px;
    top: 55px;
    border-bottom: 1px solid $white;
    border-top: 1px solid $white;
  }
}

.header__logo {
  cursor: pointer;
}

.header__feedback {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 0 0 auto;
  padding: 0;
}

.header__btn {
  color: $white;
  border-color: $white;
  margin-left: 47px;
}

@media (max-width: $tablet) {
  .header {
    margin-bottom: -100px;
  }

  .header__container {
    padding: 20px 11px 20px 25px;

    &::before {
      left: auto;
      right: 143px;
      top: 37px;
    }
  }

  .header__feedback {
    padding: 0 0 10px;
  }

  .header__btn {
    display: none;
  }
}

@media (max-width: $mobile) {
  .header {
    margin-bottom: -74px;
  }

  .header__logo {
    width: 38px;
    height: 38px;
  }

  .header__container {
    padding: 16px 0 20px 16px;

    &::before {
      right: 115px;
      top: 27px;
    }
  }

  .header__feedback {
    padding: 0;
  }

  .header__btn {
    display: none;
  }
}
