.intro {
  background-color: $dark-grey;
  background-image: url("../img/intro-bg.png"), url("../img/microchip-desktop.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center center, 1039px 155px;
  background-size: cover, auto;
}

.intro__container {
  padding: 319px 8px 128px;
}

.intro__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $white;
  margin: 0;
}

.intro__text {
  position: relative;
  width: 706px;
  font-size: 22px;
  line-height: 34px;
  color: $white;
  margin: 28px 0 44px;
  padding-left: 97px;

  &::before {
    content: "";
    position: absolute;
    width: 66px;
    height: 2px;
    background-color: $white;
    left: 3px;
    top: 17px;
  }
}

.intro__btn {
  color: $white;
  background: $blue;
  border: none;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  width: 407px;
  margin-left: 97px;
  padding: 18px;

  &:hover {
    color: $blue;
    background: $white;
  }
}

.intro__scroll-btn {
  display: block;
  height: 16px;
  width: 105px;
  background: none;
  border: none;
  color: $white;
  opacity: 0.5;
  transform: rotate(-90deg);
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  margin-top: 131px;
  margin-left: -43px;
}

@media (max-width: $tablet) {
  .intro {
    background-image: url("../img/intro-bg.png"), url("../img/microchip-tablet.png");
    background-position: center center, 440px 1px;
    background-size: cover, auto;
  }

  .intro__container {
    padding: 190px 89px 162px;
  }

  .intro__title {
    width: 467px;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 0.07em;
  }

  .intro__text {
    width: 467px;
    margin: 30px 0 56px;
    padding-left: 50px;
    font-size: 18px;
    line-height: 27px;

    &::before {
      width: 33px;
      height: 2px;
    }
  }

  .intro__btn {
    margin-left: 50px;
    width: 378px;
  }

  .intro__scroll-btn {
    display: none;
  }
}

@media (max-width: $mobile) {
  .intro {
    background-image: url("../img/intro-bg.png"), url("../img/microchip-mobile.png");
    background-position: center center, 26px -4px;
    background-size: cover, auto;
  }

  .intro__container {
    padding: 286px 15px 70px;
  }

  .intro__title {
    width: 277px;
    font-size: 40px;
    line-height: 47px;
  }

  .intro__text {
    width: 277px;
    margin: 26px 0 41px;
    font-size: 16px;
    line-height: 25px;
  }

  .intro__btn {
    margin-left: 3px;
    width: 100%;
  }

  .intro__scroll-btn {
    display: none;
  }
}
