.questions {
  display: flex;
  flex-wrap: wrap;
  background-color: $blue;
}

.questions__container {
  width: 100%;
  flex-shrink: 0;
  padding: 62px 134px 75px;
}

.questions__title {
  width: 575px;
  flex-shrink: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $white;
  margin-left: auto;
  margin-bottom: 9px;
}

.questions__text {
  width: 575px;
  flex-shrink: 0;
  margin-left: auto;
  line-height: 22px;
  color: $white;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 5px;
}

.questions__form {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 575px;
  flex-shrink: 0;
  margin-left: auto;
  margin-top: 50px;
  padding-left: 5px;

  &::before {
    content: "";
    position: absolute;
    top: -284px;
    left: -796px;
    width: 720px;
    height: 650px;
    background: url("../img/airplane.png") no-repeat 0 0;
  }
}

.questions__form-field {
  margin-bottom: 37px;
}

.questions__form-field textarea,
.questions__form-field input {
  border: 1px solid transparent;
  transition: all 0.3s ease-out;

  &:hover {
    border-color: $white;
  }

  &:focus {
    border-color: $white;
  }
}

.questions__form-field--info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;

  label {
    width: 47.8%;
  }

  input {
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    color: $white;
    padding: 14px;
  }
}

.questions__form-field textarea {
  width: 100%;
  height: 155px;
  resize: none;
  background-color: rgba(255, 255, 255, 0.1);
  font-family: "PT Mono", "Arial", sans-serif;
  color: $white;
  font-size: 16px;
  line-height: 22px;
  overflow: hidden;
  padding: 12px 15px;
}

.questions__form-field input::placeholder,
.questions__form-field textarea::placeholder {
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: $white;
}

.questions__form-field--checkbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  label {
    position: relative;
    width: 270px;
    font-family: "PT Mono", "Arial", sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: $white;
    cursor: pointer;
    transition: all 0.3s ease-out;
    padding-left: 40px;
    padding-top: 8px;
  }

  input[type="checkbox"] + .questions__checkbox-indicator {
    position: absolute;
    top: 9px;
    left: 8px;
    width: 16px;
    height: 16px;
    border: 1px solid $white;
    cursor: pointer;
  }

  input[type="checkbox"]:checked + .questions__checkbox-indicator {
    background-image: url("../img/tick.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  label:hover {
    opacity: 0.3;
  }
}

.questions__btn {
  width: 270px;
  color: $white;
  border-color: $white;

  &:hover {
    color: $blue;
    background: $white;
  }
}

@media (max-width: $tablet) {
  .questions {
    background-image: none;
  }

  .questions__container {
    width: 100%;
    margin: 0;
    padding: 51px 0 59px 0;
  }

  .questions__title {
    width: 595px;
    font-size: 32px;
    margin-right: auto;
    margin-bottom: 11px;
  }

  .questions__text {
    width: 595px;
    margin-right: auto;
  }

  .questions__form {
    width: 595px;
    margin-top: 54px;
    margin-right: auto;

    &::before {
      display: none;
    }
  }

  .questions__form-field {
    margin-bottom: 44px;
  }

  .questions__btn {
    width: 47%;
  }

  .questions__form-field--checkbox label {
    width: 47%;
  }
}

@media (max-width: $mobile) {
  .questions__container {
    padding: 28px 14px 42px;
  }

  .questions__title {
    width: 100%;
    font-size: 28px;
    line-height: 40px;
    margin: 0;
  }

  .questions__text {
    width: 100%;
    margin-top: 13px;
    padding-left: 0;
  }

  .questions__form {
    width: 100%;
    margin-top: 26px;
    padding: 0;
  }

  .questions__form-field {
    margin-bottom: 0;

    textarea {
      height: 104px;
      margin-bottom: 24px;
    }
  }

  .questions__form-field--info {
    flex-direction: column;
  }

  .questions__form-field--info label {
    width: 100%;
    margin-bottom: 32px;
  }

  .questions__btn {
    width: 100%;
    margin-bottom: 23px;
  }

  .questions__form-field--checkbox label {
    width: 100%;
    padding-left: 34px;
  }

  .questions__form-field--checkbox input[type="checkbox"] + .questions__checkbox-indicator {
    left: 2px;
  }
}
