.questions {
  background-color: $blue;
  background-image: url("../img/airplane.png");
  background-position: 167px -59px;
  background-repeat: no-repeat;
}

.questions__container {
  padding: 91px 135px 75px 731px;
}

.questions__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $white;
  margin: 0;
}

.questions__text {
  line-height: 22px;
  color: $white;
  margin-top: 10px;
  padding-left: 5px;
}

.questions__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  padding-left: 5px;
}

.questions__form-field {
  margin-bottom: 37px;
}

.questions__form-field--info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;

  input {
    width: 270px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: $white;
    padding: 15px;
  }
}

.questions__form-field textarea {
  width: 100%;
  height: 155px;
  resize: none;
  background-color: rgba(255, 255, 255, 0.1);
  border: 0;
  color: $white;
  font-size: 16px;
  line-height: 22px;
  padding: 12px 15px;
}

.questions__form-field input::placeholder,
.questions__form-field textarea::placeholder {
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: $white;
}

.questions__form-field--checkbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  label {
    position: relative;
    width: 270px;
    font-family: "PT Mono", "Arial", sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: $white;
    padding-left: 40px;
    padding-top: 8px;
  }

  input[type="checkbox"] + .questions__checkbox-indicator {
    position: absolute;
    top: 9px;
    left: 8px;
    width: 16px;
    height: 16px;
    border: 1px solid $white;
  }

  input[type="checkbox"]:checked + .questions__checkbox-indicator {
    background-image: url("../img/tick.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}

.questions__btn {
  width: 270px;
  color: $white;
  border-color: $white;

  &:hover {
    color: $blue;
    background: $white;
  }
}

@media (max-width: $tablet) {
  .questions {
    background-image: none;
  }

  .questions__container {
    padding: 78px 88px 59px;
  }

  .questions__title {
    font-size: 32px;
  }

  .questions__form {
    margin-top: 54px;
  }

  .questions__form-field {
    margin-bottom: 44px;
  }

  .questions__form-field--info input {
    width: 275px;
  }

  .questions__btn {
    width: 278px;
  }

  .questions__form-field--checkbox label {
    width: 276px;
  }
}

@media (max-width: $mobile) {
  .questions__container {
    padding: 28px 14px 42px;
  }

  .questions__title {
    font-size: 28px;
    line-height: 40px;
  }

  .questions__text {
    margin-top: 13px;
    padding-left: 0;
  }

  .questions__form {
    margin-top: 26px;
    padding: 0;
  }

  .questions__form-field {
    margin-bottom: 0;

    textarea {
      height: 104px;
      margin-bottom: 24px;
    }
  }

  .questions__form-field--info {
    flex-direction: column;
  }

  .questions__form-field--info input {
    width: 100%;
    margin-bottom: 32px;
  }

  .questions__btn {
    width: 100%;
    margin-bottom: 23px;
  }

  .questions__form-field--checkbox label {
    width: 100%;
    padding-left: 34px;
  }

  .questions__form-field--checkbox input[type="checkbox"] + .questions__checkbox-indicator {
    left: 2px;
  }
}
