@import "../fonts";

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  min-width: 320px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: $light-grey;
  background-color: $white;
  margin: 0;
  padding: 0;

  &.modal-open {
    overflow: hidden;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main__wrapper {
  background-image: url("../img/triangles-destop.png");
  background-repeat: no-repeat;
  background-position: -6px -47px;
}

.container {
  max-width: 1440px;
  padding: 0 13px;
  margin: 0 auto;
}

.button {
  display: block;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: $blue;
  border: 1px solid $blue;
  border-radius: 5px;
  background: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  padding: 14px 28px;

  &:hover {
    color: $white;
    background: $blue;
  }
}

.tablet-text {
  display: none;
}

.desktop-text {
  display: inline;
}

.mobile-text {
  display: none;
}

@media (max-width: $tablet) {
  .container {
    padding: 0 50px;
  }

  .main__wrapper {
    background-image: url("../img/triangles-tablet.png");
    background-position: 181px 101px;
  }

  .desktop-text {
    display: none;
  }

  .tablet-text {
    display: inline;
  }
}

@media (max-width: $mobile) {
  .tablet-text {
    display: none;
  }

  .mobile-text {
    display: inline;
  }

  .main__wrapper {
    background-image: url("../img/triangles-mobile.png");
    background-position: 0 652px;
  }
}
